*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat';
}


.toast-valid{
    background-color:  #4caf50;
    border-radius: 5px;
    color: #fff;
}

.toast-invalid{
    background-color: #f44336;
    border-radius: 5px;
}

.disabled{
    pointer-events: none !important
    ;
    box-shadow: none !important;
    background-color: #ccc !important;
    opacity: 0.9;
}